In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
with open("../result/resultSerialization_900000.txt", "r") as f:
        file = [s.strip().split("#") for s in f.readlines()]

In [21]:
df = pd.DataFrame(file)
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header
df = df[["method", "size", "ser_time", "deser_time"]]
df.astype({"size": int, "ser_time": int, "deser_time": int})

0        method    size  ser_time  deser_time
1   "handcoded"  900000       276         383
2   "handcoded"  900000       272         386
3   "handcoded"  900000       271         390
4   "handcoded"  900000       271         385
5   "handcoded"  900000       268         387
6        "json"  900000       854         758
7        "json"  900000       841         769
8        "json"  900000       840         752
9        "json"  900000       844         750
10       "json"  900000       850         796
11    "bincode"  900000       244         441
12    "bincode"  900000       243         427
13    "bincode"  900000       245         429
14    "bincode"  900000       246         454
15    "bincode"  900000       246         431
16       "avro"  900000      1006        1597
17       "avro"  900000       999        1588
18       "avro"  900000       999        1604
19       "avro"  900000       985        1595
20       "avro"  900000       999        1611

In [23]:
df

0        method    size ser_time deser_time
1   "handcoded"  900000      276        383
2   "handcoded"  900000      272        386
3   "handcoded"  900000      271        390
4   "handcoded"  900000      271        385
5   "handcoded"  900000      268        387
6        "json"  900000      854        758
7        "json"  900000      841        769
8        "json"  900000      840        752
9        "json"  900000      844        750
10       "json"  900000      850        796
11    "bincode"  900000      244        441
12    "bincode"  900000      243        427
13    "bincode"  900000      245        429
14    "bincode"  900000      246        454
15    "bincode"  900000      246        431
16       "avro"  900000     1006       1597
17       "avro"  900000      999       1588
18       "avro"  900000      999       1604
19       "avro"  900000      985       1595
20       "avro"  900000      999       1611

In [26]:
df_avg = df.groupby(["size", "method"]).mean().reset_index()

DataError: No numeric types to aggregate